# Ignore all `.log` files
*.log

# Ignore the `node_modules` folder
node_modules/

# Ignore all `.DS_Store` files (macOS system file)
.DS_Store

# Ignore all files in the `build` directory
build/

next/

